DATABASE_URL="postgresql://postgres:postgres@localhost:5432/retirada-equipamento?schema=public"

JWT_SECRET='z*05J=*/\#"}es1.2N.d'
JWT_EXPIRES_IN='1d'

LOGIN_THROTTLE_TTL=120
LOGIN_THROTTLE_LIMIT=5

SERVER_PORT=3000